# Ignorer les fichiers .class générés par Java
*.class
# Conserver les fichiers .gitkeep, ils sont utiles pour conserver les dossiers vides
# Note: Mettre les dossiers à ignorer avant cette ligne
!**/.gitkeep